#main-container{
	margin-top: 100px;
}

.right {
	float:right;
}

#purge:hover {
	cursor:pointer;
}

.alert {
	margin-bottom: -50px;
	margin-top: 25px;
}

.btn {
	margin-bottom:10px;
	margin-top:10px;
}